h1 {
    font-size: 24px;
    font-family: 'Impact', sans-serif;
    color: white;
    text-align: center;
}

.title {
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
    font-family: 'Impact', sans-serif;  
    color: white;    
}

p {
    font-size: 13px;
    font-family: 'Impact', sans-serif;
}

:root {
    --screen-width: 200vw; /* Default value for the variable */
}

button {
    font-size: 25px;
    background-color: darkred;
    color: lightblue;
    border-radius: 5px;
    font-family: 'Impact', sans-serif;
}


.bigButton {
    padding-left: 2.3cm;
    padding-right: 2.3cm;
    padding-top: 0.6cm;
    padding-bottom: 0.6cm;
}


.mainDiv {
    background-color: black;
    text-align: center;
    color: white;
}

    
.bigButtonL {
    margin-right: 0vw;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 15vw;
    padding-bottom: 5vw;
}

.bigButtonR {
    margin-left: 0vw;
    padding-right: 20vw;
    padding-top: 15vw;
    padding-bottom: 5vw;
}

.bigButtonM {
    padding-left: 12vw;
    padding-right: 12vw;
    padding-top: 15vw;
    padding-bottom: 15vw;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  width: 100vw;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    width: 100vw;
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

.logo {
    width: 10cm;
    height: auto;

}

.f-l {
}
    
.f-r {
}