h1 {
    font-size: 24px;
    font-family: 'Brixton', sans-serif;
    color: black;
    text-align: center;
}

body {
    font-size: 12px;
    font-family: 'Brixton', sans-serif;      
}

p {
    font-size: 13px;
    font-family: 'Brixton', sans-serif;
}

button {
    font-size: 25px;
    background-color: darkred;
    color: lightblue;
    border-radius: 5px;
}

.mainDiv {
    border: 2px outset darkred;
    background-color: white;
    text-align: center;
    padding-bottom: 5cm;
}

.f-l {
    float: none;
    padding-right: 3cm;
}
    
.f-r {
    float: none;
    padding-left: 3cm;
}

button {
    font-family: 'Brixton', sans-serif;
}

.button-container {
    display: flex;
}